@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-20deg);
  }

  //50% {
  //  transform: rotate(0);
  //}

  75% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0);
  }
}