@font-face {
  font-family: "Montserrat";
  src: url("../fonts/woff/Montserrat-Regular.woff") format("woff"),
  url("../fonts/woff2/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/woff/Montserrat-Medium.woff") format("woff"),
  url("../fonts/woff2/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/woff/Montserrat-SemiBold.woff") format("woff"),
  url("../fonts/woff2/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/woff/Montserrat-Bold.woff") format("woff"),
  url("../fonts/woff2/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "IsabelCondensedUnicase";
  src: url("../fonts/woff/IsabelCondensedUnicase-Regular.woff") format("woff"),
  url("../fonts/woff2/IsabelCondensedUnicase-Regular.woff2") format("woff2");
  font-weight: 400;
}