*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

input,
textarea {
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Montserrat';
  font-size: 19px;
  line-height: 23px;
}

body,
a,
button,
input,
textarea {
  color: $text;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main-title {
  font-family: 'IsabelCondensedUnicase';
  font-size: 63px;
  line-height: 76px;
  letter-spacing: 0.05em;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-family: 'IsabelCondensedUnicase';
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.05em;
}

.btn {
  transition: background-color .3s ease, color .3s ease, border .3s ease;
  font-family: 'IsabelCondensedUnicase';
  border-radius: 20px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;

  svg path {
    transition: fill .3s ease;
  }

  &:hover {
    background-color: $text;
    color: #fff;

    svg path {
      fill: #FFFFFF !important;
    }
  }

  &:active {
    background-color: $pressed;
    color: #ffffff;

    svg path {
      fill: #FFFFFF !important;
    }
  }

  &__icon {
    display: flex;
    margin-right: 8px;
  }

  &:disabled {
    cursor: default;
    opacity: .8;

    &:hover,
    &:active {
      color: $text;

      svg path {
        fill: $text !important;
      }
    }
  }
}

.btn-default {
  background-color: $pink;

  &:disabled {
    &:hover,
    &:active {
      background-color: $pink;
    }
  }
}

.btn-ghost {
  border: 1px solid $text;
  background-color: transparent;

  &:active {
    border: 1px solid $pressed;
  }

  &:disabled {
    &:hover,
    &:active {
      background-color: transparent;
      border: 1px solid $text;
    }
  }

}

.section-page {
  padding-bottom: 80px;
}

.input,
.textarea {
  border: 1px solid $grey;
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  padding: 14px 16px;
  width: 100%;
  transition: border .3s ease;

  &::placeholder {
    color: $darkGrey;
  }

  &:focus {
    border: 1px solid $text;
  }
}

.textarea {
  resize: none;
  min-height: 100px;
}

.checkbox {
  display: inline-flex;
  align-items: center;

  &__input.jq-checkbox {
    margin: 0;
    width: 26px;
    height: 26px;
    background: transparent;
    border: 1px solid $grey;
    border-radius: 4px;
    position: relative;

    &.checked .jq-checkbox__div {
      height: 7px;
      width: 13px;
      position: absolute;
      margin: auto;
      top: 6px;
      left: 0;
      right: 0;
      border-bottom: 1px solid $text;
      border-left: 1px solid $text;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    margin-left: 11px;
  }
}

.radio {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 26px;

  &__content {
    display: flex;
    align-items: center;
  }

  &__input.jq-radio {
    margin: 0;
    width: 26px;
    height: 26px;
    background: transparent;
    border: 1px solid $grey;
    position: relative;

    &.checked .jq-radio__div {
      width: 16px;
      height: 16px;
      background: $pink;
      box-shadow: none;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &__text {
    margin-left: 19px;
  }

  &__info {
    margin-left: 20px;
    font-weight: 500;
  }
}

.select.jq-selectbox {
  width: 100%;

  .jq-selectbox__select {
    height: auto;
    padding: 14px 55px 14px 16px;
    border: 1px solid $grey;
    background: transparent;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    font-size: 16px;
    line-height: 26px;
    color: $text;
    font-family: 'Montserrat';
  }

  .jq-selectbox__trigger {
    border: none;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/select-drop.svg');
    margin: auto;
    top: 0;
    bottom: 0;
    right: 21px;
  }

  .jq-selectbox__trigger-arrow {
    display: none;
  }

  .jq-selectbox__dropdown {
    font-size: 16px;
    line-height: 26px;
    border: 1px solid $grey;
    border-radius: 10px;
    overflow: hidden;

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      color: $text;
      font-family: 'Montserrat';

      &.selected {
        background-color: $grey;
      }

      &:hover {
        background-color: $pink;
      }
    }
  }
}

.datepicker-field {
  position: relative;
  display: block;

  &::before {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 21px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/select-drop.svg');
    cursor: pointer;
  }

  &__input {
    padding-right: 55px;
    cursor: pointer;
  }
}

.datepicker {
  color: $text;

  &--day-name {
    color: $pink;
    font-size: .9em;
  }

  &--cell-day.-other-month-, &--cell-year.-other-decade- {
    color: $grey;
  }

  &--cell.-selected-,
  &--cell.-selected-.-current- {
    background: $pink;
    color: $text;

    &:hover {
      background: #fca597;
    }
  }

  &--cell.-current- {
    color: $pink;

    &.-focus- {
      color: $text;
    }
  }
}