@import './fonts';
@import './vars';
@import './animations';
@import './global';


.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header,
.footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
}

.header {
  padding: 30px 0 35px;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid $grey;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    max-width: 465px;
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
      margin-top: 18px;
    }
  }

  &__nav {
    max-width: 100%;
    width: 100%;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
  }

  &__nav-item {
    & + & {
      margin-left: 18px;
    }
  }

  &__nav-link {
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 1px;
      width: 0;
      background: $text;
      transition: width .3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__controls {
    margin-left: 26px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
  }

  &__controls-item {
    display: flex;

    & + & {
      margin-left: 18px;
    }
  }

  &__messengers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 24px;
    flex-shrink: 0;
  }

  &__messengers-item {
    display: flex;

    & + & {
      margin-left: 18px;
    }

    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
}

.search-form {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.search {
  max-width: 100%;
  width: 100%;
  border: 1px solid $grey;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 37px 9px 15px;
}

.search-btn {
  display: flex;
  width: 15px;
  height: 15px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 12px;
}

.phone-links {
  position: relative;
  padding-left: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/phone.svg');
  }

  &__item {
    &:hover {
      text-decoration: underline;
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }
}

.email-links {
  position: relative;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &::before {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/email.svg');
  }

  &__item {
    &:hover {
      text-decoration: underline;
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }
}

.logo {
  display: flex;
}

.messenger {
  &:hover {
    animation: rotate .4s ease;
  }
}

.favorite-link,
.cart-link {
  position: relative;

  &__num {
    position: absolute;
    top: -5px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    line-height: 13px;
    background: $pink;
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }
}

.main {
  background: $grey;
  overflow-x: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 26.63%, rgba(255, 255, 255, 0) 64.71%);
  }

  &__inner {
    min-height: 720px;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    right: -100px;
    top: 0;
    bottom: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 530px;
  }

  &__title {
    margin-bottom: 33px;
  }

  &__text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 34px;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 13px 45px 11px 52px;
    min-width: 190px;
    letter-spacing: normal;

    & + & {
      margin-left: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 52px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &_cake::before {
      height: 32px;
      width: 30px;
      background-image: url('../img/cake.svg');
    }

    &_dessert::before {
      width: 32px;
      height: 32px;
      background-image: url('../img/dessert.svg');
    }
  }

}

.popular {
  padding: 80px 0;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(386px, 386px));
    gap: 30px;
    justify-content: center;
  }

  &__btn-wrapper {
    margin-top: 30px;
    text-align: center;
  }

  &__btn {
    padding: 12px 69px;
  }
}

.popular-card {
  max-width: 386px;
  width: 100%;

  &:hover img {
    transform: scale(1.05);
  }

  &__img {
    width: 386px;
    height: 386px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      transition: transform .3s ease;
    }
  }

  &__content {
    background: #F4F4F4;
    border-radius: 0 0 15px 15px;
    padding: 28px 12px;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
  }
}

.new-items {
  background: $pink;
  padding: 63px 0 80px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(281px, 281px));
    justify-content: center;
    gap: 30px;
  }
}

.product-card {
  width: 281px;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0px 20px rgba(154, 150, 150, 0.55);
  border-radius: 15px;

  &__labels {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 17px;
    background: #fff;
    border-radius: 6px;

    & + & {
      margin-top: 10px;
    }

    &_dark {
      color: #ffffff;
      background: $text;
    }
  }

  &__favorite {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    svg path {
      fill: transparent;
      stroke: $text;
      stroke-width: 1px;
      transition: all .3s ease;
    }

    &:hover svg path,
    &.active svg path {
      fill: $pink;
      stroke: $pink;
    }
  }

  &__img {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    width: 100%;
    height: 223px;
    display: flex;

    img {
      overflow: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s ease;
    }

    &:hover img {
      transform: scale(1.04);
    }
  }

  &__content {
    border-radius: 0 0 15px 15px;
    background: #fff;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }

  &__type {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__name {
    font-weight: 500;
  }

  &__rating {
    margin: 0 auto 12px;
    cursor: default;
  }

  &__buttons {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
  }

  &__label-radio {
    & + & {
      margin-left: 22px;
    }
  }

  &__radio-input {
    position: absolute;
    top: 0;
    right: 0;
    width: .1px;
    height: .1px;
    overflow: hidden;
    z-index: -5;
    visibility: hidden;

    &:checked ~ .product-card__radio {
      border: 1px solid $pink;
      background-color: $pink;
    }
  }

  &__radio {
    cursor: pointer;
    min-width: 68px;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $text;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 3px 10px;
    font-size: 8px;
    line-height: 9px;
    color: $text;
    transition: background-color .2s ease, border .2s ease;

    &:hover {
      border: 1px solid $pink;
      background-color: $pink;
    }

    &-value {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__price {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-value {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__btn {
    margin: 0 auto;
    padding: 11px 45px 11px 48px;
    font-size: 20px;
    line-height: 24px;
    align-items: flex-end;
    display: flex;
  }

}

.advantages {
  padding: 69px 0 80px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(388px, 388px));
    gap: 34px 23px;
    justify-content: center;
  }

  &__item {
    max-width: 388px;
    width: 100%;
    display: flex;

    &-icon {
      width: 78px;
      height: 78px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      background: #FFFFFF;
      box-shadow: 0px 0px 20px rgba(154, 150, 150, 0.25);
      margin-right: 17px;
      border-radius: 50%;
    }

    &-content {
      max-width: 100%;
      width: 100%;
    }

    &-title {
      margin-bottom: 19px;
      font-weight: 500;
    }

    &-text {
      font-weight: 500;
      font-size: 15px;
      line-height: 27px;
      color: #989898;
    }
  }
}

.evaluate {
  background: $grey;
  padding: 45px 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 652px;
    width: 100%;
  }

  &__title {
    margin-bottom: 37px;
  }

  &__hashtag {
    font-weight: 500;
    margin-bottom: 9px;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 37px;
  }

  &__btn {
    padding: 12px 43px;
  }

  &__img {
    margin-left: 78px;
    display: flex;
  }
}

.reviews {
  padding: 63px 0 80px;
  overflow: hidden;

  &__title {
    margin-bottom: 20px;
  }

  &__slider {
    margin: 0 -32px;
  }

  &__item {
    max-width: 362px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(154, 150, 150, 0.25);
    border-radius: 15px;
    padding: 40px 24px;
    text-align: center;
    margin: 0 32px;

    &-wrapper {
      padding-top: 20px;
      padding-bottom: 93px;
    }

    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 33px;
      color: $pink;
      margin-bottom: 19px;
    }

    &-text {
      font-size: 16px;
      line-height: 26px;
    }

    &-more {
      margin-top: 19px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-decoration: underline;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid $pink;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color .3s ease;
    z-index: 2;

    &_prev {
      left: calc(50% - 11px);
      transform: translateX(-100%);
    }

    &_next {
      right: calc(50% - 11px);
      transform: translateX(100%);
    }

    svg path {
      transition: stroke .3s ease;
    }

    &:hover {
      background-color: $pink;
    }

    &:hover svg path {
      stroke: #fff;
    }

    &_prev svg {
      margin-right: 3px;
    }

    &_next svg {
      margin-left: 3px;
    }
  }
}

.faq {
  background: $pink;
  padding: 63px 0 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    max-width: calc(50% - 13px);
    width: 100%;
  }
}

.faq-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  & + & {
    margin-top: 40px;
  }

  &__head,
  &__body {
    padding-left: 55px;
  }

  &__head {
    font-weight: 500;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -3px;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      border: 1px solid $text;
      background-repeat: no-repeat;
      background-position: center 6px;
      background-image: url('../img/dropdown.svg');
      transition: transform .4s ease;
    }
  }

  &.active &__head::before {
    transform: rotate(-180deg);
  }

  &__body {
    margin-top: 19px;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    display: none;
  }
}

.instagram {
  padding: 80px 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__btn {
    padding: 12px 40px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(281px, 281px));
    gap: 30px;
    justify-content: center;
  }

  &__item a {
    position: relative;
  }

  &__item_gallery .instagram__item-preview a::before {
    content: '';
    position: absolute;
    top: 13px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/gallery.svg');
  }

  &__item_video a::before {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 40px;
    height: 45px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/play.svg');
  }

  &__item-cover {
    width: 281px;
    height: 294px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__item-gallery {
    display: none;
  }
}

.footer {
  background: $grey;

  &__top {
    padding: 65px 0 51px;
    border-bottom: 1px solid #A9A2A5;
    font-size: 15px;
    line-height: 18px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    max-width: 210px;
  }

  &__title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__main {
    font-size: 12px;
    line-height: 14px;
    margin-top: -10px;
  }

  &__logo {
    margin-bottom: 36px;
  }

  &__link {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background: $text;
      transition: width .3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__copy {
    margin-top: 12px;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__menu-item {
    & + & {
      margin-top: 12px;
    }
  }

  &__partners {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__partners-item {
    & + & {
      margin-top: 15px;
    }
  }

  &__partners-link {
    display: flex;

    img {
      max-width: 210px;
      max-height: 50px;
    }
  }

  &__bottom {
    padding: 27px 0;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    align-items: center;

    &-item + &-item {
      margin-left: 21px;
    }

    &-link {
      display: flex;
    }

    &-link img {
      max-width: 30px;
      max-height: 30px;
    }
  }
}

.payments-list {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid $text;
    border-radius: 6px;
    width: 40px;
    height: 30px;

    & + & {
      margin-left: 8px;
    }

    img {
      max-width: 30px;
      max-height: 20px;
    }
  }
}

.address-link {
  font-size: 15px;
  line-height: 27px;
  padding-left: 29px;
  margin-top: 8px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/map-icon.svg');
  }

  &:hover {
    text-decoration: underline;
  }
}

.info-btns {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;

  &__item {
    background-color: $pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: relative;
    transition: background-color .2s ease;

    &:first-child {
      border-radius: 15px 0 0 0;
    }

    &:last-child {
      border-radius: 0 0 0 15px;
    }

    & + & {
      &::before {
        content: '';
        position: absolute;
        top: -0.5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $lightPink;
      }
    }

    &:hover {
      background-color: $lightPink;
    }
  }
}

.breadcrumbs {
  padding-top: 20px;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 22px;

  &__item {
    position: relative;

    & + & {
      margin-left: 3px;

      &::before {
        content: '/';
        color: $darkGrey;
        margin-right: 3px;
      }
    }
  }

  &__link {
    transition: color .2s ease;
    color: $darkGrey;

    &:hover {
      color: $text;
    }
  }
}

.about {
  margin-bottom: 55px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__img {
    flex-shrink: 0;
    margin-right: 44px;
    display: flex;

    img {
      width: 497px;
      height: 350px;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 677px;
    width: 100%;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;

    p + p {
      margin-top: 16px;
    }
  }

  .certificate {
    margin-top: 40px;
  }
}

.certificate {
  display: flex;
  align-items: center;

  &__logo {
    display: flex;
    margin-right: 28px;

    img {
      max-width: 70px;
      max-height: 70px;
    }
  }

  &__name {
    font-family: 'IsabelCondensedUnicase';
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
  }

  &__link {
    margin-top: 9px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
  }
}

.partners {
  margin: 55px 0 80px;

  &__title {
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;

    & + & {
      margin-left: 130px;
    }

    img {
      max-width: 300px;
      max-height: 80px;
    }
  }
}

.order-banner {
  padding: 80px 0;
  background-color: $pink;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 100%;
    width: 100%;
  }

  &__title {
    margin-bottom: 37px;
  }

  &__text {
    max-width: 617px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 44px;

    p + p {
      margin-top: 16px;
    }
  }

  &__btn {
    padding: 12px 73px;
  }

  &__img {
    display: flex;
    flex-shrink: 0;
    margin-left: 44px;

    img {
      width: 513px;
      height: 360px;
      object-fit: cover;
    }
  }
}

.catalog {
  padding-bottom: 75px;
  background: #F3F3F3;

  &__title {
    margin-bottom: 28px;
  }

  &__categories {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    &-item {
      font-size: 16px;
      line-height: 20px;
      color: $pink;
      border: 1px solid $pink;
      background-color: transparent;
      border-radius: 100px;
      padding: 15px 60px;
      transition: color .3s ease, background-color .3s ease;

      &:hover,
      &.active {
        color: $text;
        background-color: $pink;
      }

      & + & {
        margin-left: 20px;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(281px, 281px));
    gap: 30px;
    justify-content: center;
  }

  &__pagination {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__pagination-btn {
    padding: 12px 52px;
    margin-bottom: 26px;
  }
}

.pagination {
  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: 6px;
    }
  }

  &__link {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    transition: background-color .3s ease;

    &:hover,
    &.active {
      background-color: $pink;
    }
  }

  &__arrow {
    display: flex;

    &-prev {
      margin-right: 6px;
    }

    &-next {
      margin-left: 6px;
    }
  }
}

.sorting {
  margin: 24px 0 34px;
  background-color: $grey;
  border-radius: 4px;
  padding: 28px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 15px;

  &__content,
  &__info {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-right: 14px;
  }

  &__count {
    font-weight: 500;
    color: $darkGrey;
  }

  &__list {
    display: flex;

    &-item + &-item {
      margin-left: 14px;
    }

    &-link {
      color: $darkGrey;
      font-weight: 500;
      transition: color .2s ease;

      &:hover,
      &.active {
        font-weight: 600;
        color: $text;
      }
    }
  }
}

.post-text {
  padding: 75px 0;
  font-size: 14px;
  line-height: 22px;

  &__inner *:first-child {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'IsabelCondensedUnicase';
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.05em;
    margin: 44px 0 20px;
  }

  p {
    margin: 20px 0;
  }

  b, strong {
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 20px 0 33px;

    li {
      position: relative;
      padding-left: 23px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $pink;
      }
    }

    li + li {
      margin-top: 7px;
    }
  }
}

.error-404 {
  padding: 55px 0 95px;
  text-align: center;

  &__title {
    margin-bottom: 64px;
  }

  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }

  &__content {
    &-title {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0.05em;
      margin-bottom: 13px;
    }

    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;

      a {
        font-weight: 700;
        text-decoration: underline;
        color: $pink;
      }
    }
  }
}

.reviews-list {
  &__item {
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(154, 150, 150, 0.25);
    border-radius: 15px;
    font-size: 16px;
    line-height: 26px;

    & + & {
      margin-top: 30px;
    }

    &-author {
      font-weight: 600;
      font-size: 20px;
      line-height: 33px;
      margin-bottom: 10px;
      color: $pink;
    }

    &-date {
      color: $darkGrey;
      margin-bottom: 10px;
    }
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    padding: 12px 42px;
  }
}

.product-page {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__rating {
    display: flex;
    align-items: center;

    &-rate {
      cursor: default;
    }

    &-link {
      margin-left: 19px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-decoration: underline;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__preview {
    max-width: 595px;
    width: 100%;
    margin-right: 30px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__photo {
    margin-bottom: 32px;
    
    &-item,
    .slick-slide > div {
      display: flex;
    }

    &-img {
      width: 595px;
      height: 598px;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  &__gallery {
    max-width: 530px;
    width: 100%;
    margin: 0 -10px;
    align-self: center;

    &-item {
      margin: 0 10px;
    }

    &-item,
    .slick-slide > div {
      display: flex;
    }

    .slick-current &-img {
      border: 1px solid $text;
    }

    &-img {
      border: 1px solid transparent;
      transition: border .3s ease;
      width: 158px;
      flex-shrink: 0;
      height: 161px;
      object-fit: cover;
      border-radius: 15px;
    }

    &-arrow {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 10px;
      height: 17px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &_prev {
        left: -31px;
        background-image: url('../img/arrow-left.svg');
      }

      &_next {
        right: -31px;
        background-image: url('../img/arrow-right.svg');
      }
    }
  }

  &__content {
    max-width: 100%;
    width: 100%;
  }

  &__row {
    margin-bottom: 20px;
  }

  &__attrs {
    display: flex;
  }

  &__attr {

    & + & {
      margin-left: 22px;
    }

    &-input {
      position: absolute;
      bottom: 0;
      right: 0;
      width: .1px;
      height: .1px;
      overflow: hidden;
      visibility: hidden;
      z-index: -100;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $text;
      background-color: transparent;
      border-radius: 100px;
      min-width: 162px;
      height: 50px;
      padding: 5px 15px;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
      transition: background-color .3s ease, border .3s ease;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100% - 10px);
        width: 1px;
        background-color: $text;
      }
    }

    &-btn:hover,
    &-input:checked ~ &-btn {
      background-color: $pink;
      border: 1px solid $pink;
    }

    &-content,
    &-info {
      width: 50%;
    }

    &-content,
    &-box {
      display: flex;
      flex-direction: column;
    }

    &-content {
      padding-right: 5px;
    }

    &-info {
      display: flex;
      justify-content: flex-end;
      padding-left: 5px;
    }

    &-value {
      font-size: 15px;
      line-height: 18px;
    }

    &-descr {
      font-size: 10px;
      line-height: 12px;
    }

    &-diameter,
    &-height {
      padding-left: 16px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        width: 11px;
        height: 11px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    &-diameter::before {
      background-image: url('../img/diameter.svg');
    }

    &-height::before {
      background-image: url('../img/height.svg');
    }
  }

  &__price {
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.05em;
  }

  &__buttons {
    display: flex;
    align-items: center;

    & > * + * {
      margin-left: 18px;
    }
  }

  &__btn {
    padding: 10px 41px;
    font-size: 20px;
    line-height: 24px;
  }

  &__buy-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
  }

  &__help {
    display: flex;
    font-size: 16px;
    line-height: 26px;

    &-text {
      margin-right: 9px;
    }

    &-phone {
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  &__content-text {
    font-size: 16px;
    line-height: 26px;
  }

  &__calories-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
  }

  &__calories-item {
    min-width: 73px;
    min-height: 62px;
    background-color: $pink;
    border-radius: 11px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding: 5px;

    & + & {
      margin-left: 12px;
    }
  }

  &__calories-value,
  &__calories-percent {
    font-weight: 500;
  }

  &__calories-value {
    margin-bottom: 5px;
  }

  &__calories-percent {
    border-top: 1px solid $text;
    padding-top: 4px;
  }

  &__content-footer {
    padding-top: 20px;
    border-top: 1px solid $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__section {
    margin-top: 80px;

    &-title {
      margin-bottom: 20px;
    }
  }

  &__info {
    padding: 40px 30px;
    background: #F3F3F3;
    border-radius: 15px;

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-column {
      width: calc(50% - 20px);
    }

    &-title {
      font-size: 30px;
      line-height: 36px;
      font-family: 'IsabelCondensedUnicase';
      margin-bottom: 24px;
    }

    &-text {
      font-size: 16px;
      line-height: 26px;
    }

    &-link {
      font-size: 14px;
      line-height: 17px;
      margin-top: 28px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.quantity-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 104px;
  padding: 12px 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  border: 1px solid $text;
  border-radius: 127px;

  &__btn {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $text;
    }

    &::before {
      width: 100%;
      height: 1px;
    }

    &::after {
      height: 100%;
      width: 1px;
    }
    
    &-minus {
      margin-right: 7px;

      &::after {
        display: none;
      }
    }

    &-plus {
      margin-left: 7px;
    }

    &:disabled {
      cursor: default;

      &::before,
      &::after {
        background-color: $darkGrey;
      }
    }
  }
  
  &__input {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    border: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.quantity-input.jq-number {
  border: 1px solid $text;
  box-sizing: border-box;
  border-radius: 127px;
  padding: 12px 33px;
  width: 110px;

  .jq-number__field {
    width: auto;
    border: none;
    box-shadow: none;
    border-radius: 0;
    display: flex;

    input {
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      font-family: 'Montserrat';
      color: $text;
      padding: 0;
    }
  }

  .jq-number__spin {
    width: 13px;
    height: 13px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $text;
      border: none;
    }
    
    &::before {
      width: 100%;
      height: 1px;
    }
    
    &::after {
      height: 100%;
      width: 1px;
    }

    &.disabled {
      cursor: default;
      
      &::after,
      &::before {
        background-color: $darkGrey;
      }
    }

    &.minus {
      left: 15px;
      right: auto;
      
      &::after {
        display: none;
      }
    }

    &.plus {
      right: 15px;
    }
  }
}

.share-list {
  display: flex;

  &__item + &__item {
    margin-left: 8px;
  }

  &__link {
    display: flex;
  }

  img {
    max-width: 27px;
    max-height: 27px;
  }
}

.related-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(281px, 281px));
  gap: 30px;
}

.order-section {
  &__title {
    margin-bottom: 55px;
  }
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__data {
    max-width: 100%;
    width: 100%;

    &-row + &-row {
      margin-top: 60px;
    }

    &-title {
      margin-bottom: 30px;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-column {
      width: calc(50% - 11px);
    }

    &-input + &-input {
      margin-top: 32px;
    }

    &-textarea {
      margin-top: 24px;
    }

    &-checkbox {
      margin-top: 28px;
    }

    &-note {
      margin-top: 20px;
      border-top: 1px solid $grey;
      padding-top: 30px;
      font-size: 16px;
      line-height: 26px;
      color: $darkGrey;
    }
  }

  &__radio {
    display: flex;
    justify-content: space-between;

    & + & {
      margin-top: 18px;
    }
  }

  &__details {
    flex-shrink: 0;
    max-width: 395px;
    width: 100%;
    margin-left: 30px;
    box-shadow: 0px 0px 20px rgba(154, 150, 150, 0.25);
    border-radius: 15px;
    background-color: $pink;
    padding: 15px 24px 30px;

    &-title {
      margin-bottom: 15px;
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &-item {
      display: flex;

      & + & {
        margin-top: 17px;
      }
    }

    &-img {
      margin-right: 11px;
      display: flex;

      img {
        width: 61px;
        height: 61px;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    &-content {
      font-size: 16px;
      line-height: 19px;
      padding-top: 5px;
    }

    &-name {
      font-weight: 500;
      margin-bottom: 7px;
    }
  }

  &__order + &__total,
  &__total + &__total {
    border-top: 1px solid $text;
    padding-top: 10px;
  }

  &__total {
    font-size: 16px;
    line-height: 26px;

    & + & {
      margin-top: 18px;
    }

    &-item {
      display: flex;
      justify-content: space-between;

      & + & {
        margin-top: 14px;
      }
    }

    &-value {
      font-weight: 500;
    }
  }

  &__details-btn {
    margin-top: 23px;
    padding: 12px;
    text-align: center;
    display: block;
    width: 100%;
  }

  &__coupon {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-btn {
      padding: 15px 40px;
    }
  }
}

.coupon-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 400px;
  width: 100%;

  &__btn {
    margin-top: 20px;
    padding: 15px 40px;
  }
}

.products-table {
  border-collapse: collapse;
  font-size: 16px;
  line-height: 19px;
  width: 100%;

  th {
    font-weight: 500;
  }

  th, td {
    border: 1px solid $grey;
    text-align: center;
    padding: 10px;
  }

  &__remove {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $text;
    font-size: 30px;
    margin: 0 auto;
    background-color: transparent;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
      background-color: $pink;
      color: #ffffff;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    
    &-link {
      display: flex;
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 15px;
      border: 1px solid transparent;

      transition: border .2s ease;
    }

    &-link:hover img {
      border: 1px solid $text;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }

    span {
      font-weight: 500;
      display: block;
      margin-top: 5px;
    }
  }
}

.conditions-block {
  padding: 60px 80px;
  background: #F3F3F3;
  font-size: 16px;
  line-height: 19px;

  &__row + &__row {
    margin-top: 73px;
  }

  &__title {
    margin-bottom: 27px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    padding-left: 28px;
    position: relative;

    & + & {
      margin-top: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $pink;
      border-radius: 50%;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  opacity: 0;
  display: none;
  transition: opacity .3s ease;

  &.show {
    opacity: 1;
  }

  &__box {
    max-width: 527px;
    width: 100%;
    background: #fff;
    padding: 45px 28px;
    position: relative;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    text-align: center;
  }

  &__text {
    margin: 0 auto 25px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__btn {
    padding: 12px 22px;
    justify-content: center;
    min-width: 223px;
  }

  .close {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &__form {
    width: 100%;
  }

  &__input {
    & + & {
      margin-top: 22px;
    }
  }

  &__input + &__textarea {
    margin-top: 22px;
  }

  &__review-input {
    margin: 35px 0 22px;
  }
}

.antispam {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  margin: 22px 0;

  &__text {
    color: $darkGrey;
  }

  &__text,
  &__task {
    margin-right: 15px;
  }
  
  &__answer.jq-number {
    padding: 0;

    .jq-number__spin {
      display: none;
    }

    .jq-number__field {
      box-shadow: none;
      width: auto;
      border: none;
      border-radius: 0;

      input {
        width: 52px;
        height: 32px;
        border: 1px solid $grey;
        border-radius: 10px;
        font-size: 16px;
        line-height: 26px;
        color: $text;
        font-family: 'Montserrat';
        text-align: center;
        padding: 5px 7px;
        transition: border .3s ease;

        &:focus {
          border: 1px solid $text;
        }
      }

    }
  }
}

.review-input {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 15px;
    font-size: 16px;
    line-height: 26px;
    color: $darkGrey;
  }
}

.close {
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 22px;
    width: 2px;
    background: $text;
    border-radius: 5px;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.module {
  display: none;
}


@import './media';
